body {
    background-color: #fafaf7;
    font-family: sans-serif;
    color: black;
}

div.user_pane {
    /*border: 1px solid red;*/
    height: 24px;
    margin-top: 36px;
    text-align: right;
    padding: 6px 72px;
    display: block ruby;
}

h1.caption {
    margin-top: 4px;
    text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 0 0 6px #8f8f89;
}

button {
    border: 1px solid #8f8f89;
    border-radius: 4px;
    padding: 2px 2px;
    min-width: 72px;
    height: 28px;
    background-color: #fafaf7;
    font-size: medium;
    margin-left: 12px;
    cursor: pointer;
}
button:focus {
    outline: none;
    box-shadow: 0 0 6px #8f8f89;
}
button:hover {
    background-color: #eeeee4;
}
button:active {
    background-color: #fafaf7;
}
button.ok {
    background-color: #d6d6cd;
}
button.ok:hover {
    background-color: #bebeb6;
}
button.ok:active {
    background-color: #d6d6cd;
}
button.ok:disabled, button.ok[disabled] {
    background-color: #d6d6cd40;
    cursor: default;
}

/*drop-down menu*/
/* Dropdown Button */
#dropdown_btn {
    color: black;
    border: none;
    border-bottom: 1px dashed #8f8f89;
}
/* The container <div> - needed to position the dropdown content */
div.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #eeeee4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

fieldset {
    width: 50%;
    margin: 12px auto;
    border-radius: 6px;
}

#home_btn {
    background: url("../img/home.png") no-repeat center;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 2px;
    cursor: pointer;
}
#home_btn:hover {
    background: url("../img/home_hover.png") no-repeat center;
}
#home_btn:active {
    background: url("../img/home_active.png") no-repeat center;
}

div.description_env {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40fr 1fr;
}
div.description {
    text-align: center;
    margin: auto;
}