body {
    background-color: #f4f4ff;
}
button {
    background-color: #f4f4ff;
}
button:hover {
    background-color: #e3e3ee;
}
.dropdown-content {
    background-color: #f4f4ff;
}
.dropdown-content a:hover {
    background-color: #e3e3ee;
}

div.description_env {
    background-color: #e3e3ee;
}

.lang_select {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr 5fr;
    margin: 6px;
    text-align: center;
}

.lang_select input {
    margin: 2px auto;
    max-width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

/* Оболочка кнопки загрузки случайного неозвученного перевода */
.translation_load_envelope {
    /*border: 1px solid red;*/
    min-height: 24px;
}
/* Кнопка загрузки случайного неозвученного перевода */
#translation_load_btn {
    border: 1px solid gray;
    min-height: 24px;
    max-width: 360px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: #f4f4ff;
}
#translation_load_btn:hover {
    background-color: #e3e3ee;
}
#translation_load_btn:active {
    background-color: #d2d2dd;
}