body {
    background-color: #f4f4ff;
}
button {
    background-color: #f4f4ff;
}
button:hover {
    background-color: #e3e3ee;
}
.dropdown-content {
    background-color: #f4f4ff;
}
.dropdown-content a:hover {
    background-color: #e3e3ee;
}

div.description_env {
    background-color: #e3e3ee;
}

.lang_select {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr 5fr;
    margin: 6px;
    text-align: center;
}
.lang_select input {
    margin: 2px auto;
    max-width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

/* Строка сообщений */
div.message_pane {
    width: 50%;
    min-height: 24px;
    color: red;
    margin: 0 auto;
    font-size: smaller;
    text-align: center;
}

/* Оболочка кнопки загрузки случайного неозвученного перевода */
.sound_load_envelope {
    /*border: 1px solid red;*/
    min-height: 24px;
}
/* Кнопка загрузки случайного неозвученного перевода */
.sound_load_btn {
    border: 1px solid gray;
    border-radius: 4px;
    min-height: 24px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    background-color: #f4f4ff;
    user-select: none;
    padding-top: 6px;
}
.sound_load_btn:hover {
    background-color: #e3e3ee;
}
.sound_load_btn:active {
    background-color: #d2d2dd;
}
.tl_item {
    min-height: 24px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}

.fetch_btn {
    border: 1px solid #484848ff;
    border-radius: 13px;
    width: 24px;
    height: 24px;
    background: url("../img/wave.png") no-repeat center;
    margin: auto auto;
    cursor: pointer;
}
.fetch_btn:hover {
    border: 1px solid #606060ff;
    box-shadow: 0 0 5px #606060ff;
}
.fetch_btn:active {
    border: 1px solid #000000ff;
    background: url("../img/wave_active.png") no-repeat center;
}

div.disabled {
    pointer-events: none;
    opacity: 0.25;
}

div.busy {
    background: url("../img/spinner.gif") no-repeat center !important;
    background-size: 18px !important;
}