body {
    background-color: #EDFFD1;
    font-family: sans-serif;
    color: black;
}

button {
    background-color: #EDFFD1;
}
button:hover {
    background-color: #C1D5AF;
}

.dropdown-content {
    background-color: #E6FFD1;
}
.dropdown-content a:hover {
    background-color: #C1D5AF;
}

div.collection_pane {
    min-height: 24px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 24px;
}
#collection {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

div.go_stop_pane {
    text-align: center;
    padding: 6px;
}
#go_stop_btn {
    background-image: url("../img/go.png");
    background-repeat: no-repeat;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    vertical-align: middle;
}
#go_stop_btn:hover {
    box-shadow: 0 0 5px gray;
}
#go_stop_btn:focus {
    box-shadow: 0 0 15px gray;
}
#go_stop_btn:active {
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
}
#go_stop_btn:disabled {
    background-image: url("../img/go_disabled.png");
    box-shadow: none;
    pointer-events: none;
}
#train_message {
    color: red;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

#train_markup {
    width: 50%;
    min-height: 12px;
    margin: 12px auto;
    text-align: center;
    visibility: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}
#to_translate {
    /*border: 1px solid red;*/
    border-radius: 8px;
    font-size: 150%;
    font-weight: bold;
    margin: 0 auto;
    min-height: 24px;
    cursor: url('../img/speaker.png'), auto;
    padding: 6px;
}
#to_translate:hover {
    box-shadow: 0 0 5px gray;
}
#to_translate:active {
    box-shadow: 0 0 5px black;
}

#translation {
    margin: 6px auto;
    width: 95%;
    text-align: center;
    font-size: 120%;
}
#check_btn {
    background-image: url("../img/send.png");
    background-repeat: no-repeat;
    margin: 6px auto;
    min-width: 75px;
    width: 75px;
    height: 30px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: none;
}
#check_btn:hover {
    box-shadow: 0 0 5px gray;
}
#check_btn:active {
    box-shadow: 0 0 5px black;
}
#check_btn:disabled {
    background-image: url("../img/send_disabled.png");
    box-shadow: none;
    pointer-events: none;
}

#lang_message {
    color: red;
}

#word_message {
    color: red;
}

#check_result {
    background-repeat: no-repeat;
    margin: auto 12px;
    height: 32px;
}

#word_message_wrapper {

}

div.description_env {
    background-color: #D4F69E;
}

div.word_amnt {
    /*border: 1px solid red;*/
    font-size: 175%;
    font-weight: bold;
    margin: auto;
}
div.incorrect {
    /*border: 1px solid red;*/
    color: red;
    font-size: 125%;
    font-weight: bold;
    margin: auto;
}
div.correct {
    /*border: 1px solid green;*/
    font-size: 125%;
    color: green;
    font-weight: bold;
    margin: auto;
}
