/*fieldset {*/
/*    min-height: 240px;*/
/*}*/

.lang_select {
    /*border: 1px solid red;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 1fr 5fr;
    margin: 6px;
    text-align: center;
}

.lang_select input {
    margin: 2px auto;
    max-width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

div.message_pane {
    /*border: 1px solid orangered;*/
    min-height: 24px;
    color: red;
    margin: 0 auto;
    font-size: smaller;
    width: 50%;
}
#message {
    display: none;
}

div.dict_article {
    /*border: 1px solid blueviolet;*/
    /*min-height: 60px;*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr 5fr;
}

div.word_buttons_wrapper {
    /*border: 1px solid blueviolet;*/
    height: 24px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr 5fr;
}
div.word_buttons {
    /*border: 1px solid red;*/
    /*text-align: center;*/
}
div.buttons_delimiter {
    /*border: 1px solid green;*/
    /*height: 24px;*/
}

div.get_voice_btn {
    border: 1px solid #484848ff;
    border-radius: 10px;
    margin: 4px;
    width: 18px;
    height: 18px;
    background: url("../img/wave.png") no-repeat center;
    margin: auto auto;
}
div.get_voice_btn:hover {
    border: 1px solid #606060ff;
    box-shadow: 0 0 5px #606060ff;
}
div.get_voice_btn:active {
    border: 1px solid #000000ff;
    background: url("../img/wave_active.png") no-repeat center;
}

div.play_voice_btn {
    border: 1px solid #484848ff;
        border-radius: 10px;
        margin: 4px;
        width: 18px;
        height: 18px;
        background: url("../img/speaker.png") no-repeat center;
        margin: auto auto;
}
div.play_voice_btn:hover {
    border: 1px solid #606060ff;
    box-shadow: 0 0 5px #606060ff;
}
div.play_voice_btn:active {
    border: 1px solid #000000ff;
}

div.disabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.25;
    /*background: #CCC;*/
}

.word_input {
    margin: 6px;
}

.options_pane {
    width: 50%;
    margin: 0 auto;
    text-align: end;
    padding: 6px 12px;
    min-height: 24px;
}

#swap_button {
    background-image: url("../img/swap.png");
    background-repeat: no-repeat;
    min-width: 12px;
    width: 32px;
    height: 21px;
    border: none;
    outline: none;
    box-shadow: none;
}
#swap_button:hover {
    box-shadow: 0 0 5px gray;
}
#swap_button:active {
    box-shadow: 0 0 5px black;
}
#swap_button:disabled {
    background-image: url("../img/swap_disabled.png");
    pointer-events: none;
}

.translation_exists {
    box-shadow: 0 0 15px #FFE311FF;
    background-color: #FFE311FF;
}

div.description_env {
    background-color: #d6d6cd;
}