<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Словесный помогатор</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sounding.css">
    <link rel="icon" type="image/png" href="/img/globe.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/sounding.js"></script>
    <script src="/js/sound.js"></script>
</head>
<body>

<div class="user_pane">
    <div class="dropdown">
        <button id="dropdown_btn" th:text="${student_name}"></button>
        <div class="dropdown-content">
            <!--            <a href="#">Мой профиль</a>-->
            <a href="/logout">Выход</a>
        </div>
    </div>
    <!--    <div>(Мой язык: <span th:text="${my_language}"></span>)</div>-->
</div>
<h1 class="caption">Словесный помогатор</h1>
<div class="description_env">
    <div>
        <button id="home_btn" onclick="location.href='/main'"></button>
    </div>
    <div class="description">Загрузка озвучки</div>
</div>
<fieldset>
    <div class="lang_select">
        <label for="lang1">Язык</label>
        <div></div>
        <label for="lang2">Язык</label>
        <input id="lang1" type="text" list="lang_list_1"/>
        <datalist id="lang_list_1"></datalist>
        <div></div>
        <input id="lang2" type="text" list="lang_list_2"/>
        <datalist id="lang_list_2"></datalist>
    </div>
</fieldset>
<div class="message_pane"><span id="message"></span></div>
<fieldset>
    <div id="translation_load_envelope" class="sound_load_envelope">
        <div id="translation_load_btn" class="sound_load_btn">Загрузить случайный перевод</div>
        <div id="translation_list"></div>
    </div>
</fieldset>
<fieldset>
    <div id="word_load_envelope" class="sound_load_envelope">
        <div id="word_load_btn" class="sound_load_btn">Загрузить случайное слово</div>
        <div id="word_list"></div>
    </div>
</fieldset>
</body>
</html>